.holder{
    position: relative;
    height: 100%;
}

.recent{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #1976D2;
}

.number{
    font-size: 30px;
    margin: 10px 0 2px 0;
}

.date{
    font-size: 14px;
    color: #a1a1a1;
}

.balance{
    position: absolute;
    bottom: 0px;
    color: #1976D2;
    cursor: pointer;
}
